* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    background-image: url("/images/banner/banner3.png");
    background-repeat: no-repeat;
    width: 1850px;
    height: 950px;
    text-align: right;
    background-size: cover;
    color: white;



}

.banner img {
    width: 100%;
}

.banner-area {
    padding: 220px 200px 370px 1100px;

}

.banner-title {
    font-weight: 700;
    font-size: 65px;

    padding-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;

}

.btn-banner {
    width: 160px;
    height: 64px;
    left: 1220px;
    top: 51px;
    border-radius: 5px;
    background-color: white;
    padding: 15px 30px;
    border: 0;
    color: rgb(47, 183, 236);
    font-weight: 700;
    font-size: 15px;

}

.half-width {
    /* width: 40%; */
    padding-left: 87px;



}



.failures-area {
    /* padding-left: 15px;  */
    padding-top: 300px;

}

.failures-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.failures-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    color: #444343;
    line-height: 30px;
}

.section-width {
    display: flex;
    padding-left: 230px;
    padding-right: 300px;
    margin-top: 115px;


}

.failures-list {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    color: #444343;
    list-style: none;
    text-align: left;
}

p img {
    width: 15px;
}

p {
    margin-bottom: 10px;
}


.plans {
    margin-top: 150px;
    padding-left: 230px;
    padding-right: 300px;


}

.list-plans {
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.plans .my-plans {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;

}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
    color: #151414;
}

.plan-description {
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

.list-plans img {
    margin-bottom: 20px;
}

.contact {
    background-image:
        linear-gradient(to right, rgba(47, 34, 221, 0.986), rgba(184, 184, 184, 0.027)),
        url('/images/watch.png');
    background-repeat: no-repeat;
    border: 0;
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 130px;
    background-size: cover;
    /* border-width:1000px; */


}

.contact-title {
    padding-left: 65px;
    padding-right: 600px;
    margin-top: 60px;

}

.contact-description {
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding-top: 30px;
}

.contact-btn {
    width: 160px;
    height: 64px;
    left: 1220px;
    top: 51px;
    border-radius: 5px;
    background-color: white;
    padding: 15px 30px;
    border: 0;
    color: rgb(47, 183, 236);
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;


}

.address {
    background-color: #151414;
    color: white;
    display: flex;
    gap:330px;
    

}

.address-container {
    padding-left: 30px;
    padding-top: 10px;
    margin-left: 300px;

}

.address-form {
    padding-left: 30px;
    margin-top: 10px;
    margin-right: 230px;
    margin-top: 130px;
    font-weight: 600;
    font-size: 25px;



}

input {
    padding-left: 10px;
    width: 325px;
    height: 50px;
    border-radius: 5px;
    background-color: #151414;
    color: white;
    margin-top: 30px;
    border: 1px solid white;
}

.address-title {
    margin-top: 130px;
}

.address-description {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
}